<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Civic.Core.Caching" version="1.22.1" targetFramework="net461" />
  <package id="Civic.Core.Configuration" version="1.22.12" targetFramework="net461" />
  <package id="Civic.Core.Data" version="1.22.3" targetFramework="net461" />
  <package id="Civic.Core.Logging" version="1.22.7" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="1.3.2" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
</packages>